extends ../layout/main

block append variables
	- const pageTitle = "Bulletin";
	- const bodyClass = "white";
	//- const prevPage = {href: '', text: ''};
	//- const pageTitle_OFF = true;

block content
	.bulletin
		.container 
			h1(data-aos="fade-down" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200") Bulletin
			ul 
				li 
					a(href="bulletin-item-v1.html") 
						.bulletin__img 
							img(src="img/bulletin/item1.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v2.html") 
						.bulletin__img 
							img(src="img/bulletin/item2.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v3.html") 
						.bulletin__img 
							img(src="img/bulletin/item3.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v4.html") 
						.bulletin__img 
							img(src="img/bulletin/item4.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v1.html") 
						.bulletin__img 
							img(src="img/bulletin/item5.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v2.html") 
						.bulletin__img 
							img(src="img/bulletin/item6.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				//- 1
				li 
					a(href="bulletin-item-v3.html") 
						.bulletin__img 
							img(src="img/bulletin/item1.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v4.html") 
						.bulletin__img 
							img(src="img/bulletin/item7.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v1.html") 
						.bulletin__img 
							img(src="img/bulletin/item8.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v2.html") 
						.bulletin__img 
							img(src="img/bulletin/item9.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v3.html") 
						.bulletin__img 
							img(src="img/bulletin/item1.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v4.html") 
						.bulletin__img 
							img(src="img/bulletin/item6.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				//- 2
				li 
					a(href="bulletin-item-v1.html") 
						.bulletin__img 
							img(src="img/bulletin/item10.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v2.html") 
						.bulletin__img 
							img(src="img/bulletin/item11.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v3.html") 
						.bulletin__img 
							img(src="img/bulletin/item1.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v4.html") 
						.bulletin__img 
							img(src="img/bulletin/item4.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v1.html") 
						.bulletin__img 
							img(src="img/bulletin/item12.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
				li 
					a(href="bulletin-item-v2.html") 
						.bulletin__img 
							img(src="img/bulletin/item13.png", alt="")
						span A sight for sore eyes – and somewhat tender heads – this #sundaybrunch pairing is a sumptuous repast from @allorahall...
	include ../blocks/pager