extends ../layout/main

block append variables
	- const pageTitle = "Bulletin item, v2";
	- const bodyClass = "white";
	//- const prevPage = {href: '', text: ''};
	//- const pageTitle_OFF = true;

block content
	.bulletin-item.v2 
		.bulletin-item__body 
			.bulletin-item__text January 12, 2023
			.bulletin-item__text 
				p Get lost in the Rhubarb Triangle and go gaga for this crackerjack concoction from <a href="#" target="_blank">@joe_schofield</a>. This somewhat spellbinding snifter was one of the exclusive <a href="#" target="_blank">#brokenlclockvodka</a> tipples being stirred up by Joe and  <a href="#" target="_blank">@aidan_tibbins</a> at our recent  <a href="#" target="_blank">@schofields.bar</a> takeover at the intimate <a href="#" target="_blank">@punchroomldn</a>. An enigmatically tasty twist on the classic negroni, it combines our <a href="#" target="_blank">#awfullyenglish</a> vodka with tangy rhubarb, bitter Campari and floral Asterley Bros Estate Vermouth.
			img(src="img/bulletin-item/v2/img1.png", alt="").first
			.bulletin-item__text 
				p Get lost in the Rhubarb Triangle and go gaga for this crackerjack concoction from <a href="#" target="_blank">@joe_schofield</a>. This somewhat spellbinding snifter was one of the exclusive <a href="#" target="_blank">#brokenlclockvodka</a> tipples being stirred up by Joe and  <a href="#" target="_blank">@aidan_tibbins</a> at our recent  <a href="#" target="_blank">@schofields.bar</a> takeover at the intimate <a href="#" target="_blank">@punchroomldn</a>. An enigmatically tasty twist on the classic negroni, it combines our <a href="#" target="_blank">#awfullyenglish</a> vodka with tangy rhubarb, bitter Campari and floral Asterley Bros Estate Vermouth.
			.bulletin-item__video 
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/DMgyaBVFxpE" title="ALFRED TRAINS HARLEY QUINN || #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			.bulletin-item__text 
				p Get lost in the Rhubarb Triangle and go gaga for this crackerjack concoction from <a href="#" target="_blank">@joe_schofield</a>. This somewhat spellbinding snifter was one of the exclusive <a href="#" target="_blank">#brokenlclockvodka</a> tipples being stirred up by Joe and  <a href="#" target="_blank">@aidan_tibbins</a> at our recent  <a href="#" target="_blank">@schofields.bar</a> takeover at the intimate <a href="#" target="_blank">@punchroomldn</a>. An enigmatically tasty twist on the classic negroni, it combines our <a href="#" target="_blank">#awfullyenglish</a> vodka with tangy rhubarb, bitter Campari and floral Asterley Bros Estate Vermouth.
			.bulletin-item__wrapper 
				img(src="img/bulletin-item/v2/img3.png", alt="").third
				img(src="img/bulletin-item/v2/img4.png", alt="").fourth
		.link-wrap(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
			a(href="bulletin.html").btn.gold back to bulletin