extends ../layout/main

block variables
	- const pageTitle = "Главная";
	- const bodyClass = "front";

block content
	.permission
		.permission__mob-logo 
			<svg width="189" height="78" viewBox="0 0 189 78" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_2285_16438)">
				<path d="M94.9263 33.2879L78.4907 16.8523L94.917 0.416748L111.353 16.8523L94.9263 33.2879ZM80.0101 16.8523L94.9263 31.7685L109.842 16.8523L94.9263 1.93616L80.0101 16.8523Z" fill="white"/>
				<path d="M103.32 15.3145L104.126 14.1378C102.357 12.9242 98.4376 12.0903 94.6205 12.0903C94.602 12.0903 94.5835 12.0903 94.5742 12.0903V13.5171C94.5927 13.5171 94.602 13.5171 94.6205 13.5171C98.1226 13.5078 101.782 14.2675 103.32 15.3145Z" fill="white"/>
				<path d="M93.9258 15.0735V9.44986C94.9542 9.69074 95.7602 10.5338 96.0011 11.5993C96.4921 11.6271 96.9832 11.6641 97.4742 11.7104C97.2148 9.59809 95.4545 7.94897 93.3329 7.94897H92.5083V16.5559H93.3329C94.982 16.5559 96.4087 15.5646 97.0851 14.1378C96.557 14.0822 96.0289 14.0544 95.5008 14.0359C95.0932 14.5547 94.5465 14.9346 93.9258 15.0735Z" fill="white"/>
				<path d="M93.3514 15.0364H92.499V19.3352C92.9437 19.3815 93.4255 19.4093 93.9258 19.4279V16.5187C95.6583 16.8337 97.0758 18.5292 97.0758 20.447C97.0758 22.2258 95.7509 23.6062 93.9258 23.8471V21.8923C93.4348 21.883 92.9623 21.8552 92.499 21.8089V25.3109H93.3514C96.2883 25.3109 98.4933 23.2171 98.4933 20.447C98.5026 17.5101 96.1401 15.0364 93.3514 15.0364Z" fill="white"/>
				<path d="M94.6206 19.9561C89.4416 19.9561 86.3565 18.3162 86.3565 16.7319C86.3565 15.4627 88.3484 14.1563 91.8134 13.6931V12.2571C87.6535 12.7759 84.9297 14.4713 84.9297 16.7319C84.9297 19.465 88.9135 21.3828 94.6113 21.3828C95.2043 21.3828 95.8065 21.3643 96.3901 21.318C96.4828 21.04 96.5476 20.7528 96.5476 20.4378C96.5476 20.2525 96.5198 20.0672 96.492 19.8819C95.8806 19.9283 95.2506 19.9561 94.6206 19.9561ZM104.154 19.3075L103.348 18.1402C102.459 18.7516 100.837 19.2705 98.9472 19.5947C98.9843 19.8727 99.0213 20.1599 99.0213 20.4471C99.0213 20.6416 99.012 20.8362 98.9842 21.0308C101.18 20.6602 103.07 20.058 104.154 19.3075Z" fill="white"/>
				<path d="M49.9829 49.1492H57.126V49.4086L55.1989 50.437V54.6617L60.3316 50.2702L58.4138 49.4086V49.1492H63.5928V49.4086L61.1098 50.4462L58.6917 52.5493L63.5279 58.9049L65.6588 59.9611V60.1927H58.0895V59.9611L59.3773 58.9049L56.1625 54.7173L55.1989 55.5603V58.9049L57.126 59.9611V60.1927H49.9829V59.9611L51.8914 58.9049V50.4462L49.9829 49.4086V49.1492Z" fill="white"/>
				<path d="M41.7836 43.405C42.8954 43.405 43.9238 43.6922 44.8688 44.2759C45.8138 44.8689 46.6013 45.7212 47.2498 46.8422C47.676 47.5556 48.0002 48.3431 48.2226 49.2047C48.4542 50.0571 48.5654 50.928 48.5746 51.8174C48.5746 53.3646 48.2782 54.7821 47.6852 56.0884C47.0923 57.3947 46.277 58.4324 45.2486 59.1921C44.2202 59.9611 43.1177 60.3409 41.9226 60.3502C40.746 60.3502 39.6527 59.9796 38.6336 59.2106C37.6052 58.4509 36.7992 57.4225 36.197 56.1347C35.5855 54.8469 35.289 53.4572 35.2798 51.9749C35.2798 50.8631 35.4465 49.7884 35.7986 48.7508C36.1414 47.7131 36.6232 46.7866 37.2254 45.9806C37.8368 45.1746 38.541 44.5446 39.3192 44.0906C40.1067 43.6366 40.9313 43.405 41.7836 43.405ZM42.0152 43.9331C41.3296 43.9331 40.7738 44.0999 40.3568 44.4149C39.9399 44.7391 39.6157 45.2394 39.3655 45.9343C39.1988 46.4531 39.0783 47.0275 38.9949 47.6668C38.9301 48.1949 38.8838 48.9083 38.8467 49.8069C38.8096 50.7056 38.7911 51.6506 38.7911 52.6419C38.7911 53.1793 38.8096 53.7908 38.8374 54.4856C38.8745 55.1712 38.9115 55.7456 38.9671 56.1996C39.1154 57.3299 39.4026 58.1822 39.8288 58.7659C40.3013 59.4886 41.0332 59.8406 42.0152 59.8406C42.6267 59.8406 43.1455 59.6739 43.5532 59.3311C43.9701 58.9975 44.2943 58.4787 44.5352 57.7931C44.6927 57.3669 44.8132 56.8111 44.9058 56.1162C44.9614 55.6437 45.0077 54.9767 45.0448 54.1058C45.0818 53.2349 45.0911 52.3177 45.0911 51.3449C45.0911 49.5012 44.9892 48.0467 44.7854 46.9627C44.5908 45.8787 44.2665 45.1097 43.8218 44.628C43.3771 44.1647 42.7749 43.9331 42.0152 43.9331Z" fill="white"/>
				<path d="M146.716 42.8584C147.874 42.8584 148.93 43.1641 149.912 43.7849C150.885 44.4056 151.71 45.295 152.368 46.4716C152.803 47.2221 153.136 48.0466 153.368 48.9453C153.609 49.8347 153.72 50.7519 153.72 51.6691C153.72 53.2812 153.405 54.7636 152.775 56.1255C152.154 57.4874 151.311 58.5621 150.246 59.3588C149.19 60.1556 148.032 60.554 146.799 60.554C145.586 60.554 144.446 60.1556 143.39 59.3588C142.334 58.5621 141.491 57.4874 140.87 56.1347C140.249 54.7913 139.934 53.3461 139.944 51.7988C139.953 50.6408 140.129 49.5197 140.49 48.4358C140.851 47.3518 141.352 46.3883 141.991 45.5544C142.63 44.7113 143.353 44.0535 144.168 43.581C144.984 43.0993 145.836 42.8584 146.716 42.8584ZM146.948 43.4143C146.234 43.4143 145.66 43.581 145.224 43.9146C144.789 44.2481 144.446 44.7762 144.196 45.4988C144.02 46.0362 143.89 46.6384 143.807 47.3055C143.742 47.8521 143.686 48.6025 143.649 49.5383C143.612 50.474 143.585 51.4561 143.585 52.4937C143.585 53.0588 143.603 53.6981 143.631 54.4115C143.659 55.1249 143.705 55.7178 143.761 56.1996C143.918 57.3762 144.205 58.2749 144.641 58.8863C145.132 59.6368 145.891 60.0166 146.901 60.0166C147.541 60.0166 148.069 59.8406 148.504 59.4886C148.93 59.1365 149.273 58.6084 149.533 57.8858C149.69 57.4503 149.82 56.8574 149.922 56.1347C149.987 55.6437 150.033 54.9488 150.07 54.0409C150.107 53.133 150.125 52.1694 150.135 51.1596C150.135 49.2418 150.033 47.7224 149.838 46.5921C149.634 45.4618 149.301 44.6558 148.847 44.1555C148.374 43.6644 147.744 43.4143 146.948 43.4143Z" fill="white"/>
				<path d="M0.916992 38.1982H10.4967C11.4046 38.1982 12.257 38.3372 13.0723 38.6244C13.8691 38.9024 14.5732 39.3007 15.1754 39.8196C15.7683 40.3291 16.2408 40.9406 16.5743 41.6354C16.9079 42.3303 17.1395 43.0807 17.0746 43.8775C16.9542 45.4896 16.2871 47.6297 12.4608 48.7415V48.8063C12.4608 48.8063 14.8789 49.3993 16.0185 50.6037C16.4168 51.0206 16.7318 51.4746 16.982 51.9656C17.3063 52.5771 17.4638 53.3368 17.4638 54.2447C17.4638 55.9309 16.9357 57.3021 15.8702 58.3675C15.3607 58.9049 14.6843 59.3403 13.8783 59.6738C13.063 60.0074 12.2755 60.1741 11.5158 60.1741H0.954051V59.785L3.27949 57.7282V40.7182L0.926257 38.5966V38.1982H0.916992ZM7.29111 38.8931V48.4265H10.7098C11.5066 48.4265 12.0902 48.0374 12.4608 47.2591C12.8314 46.4809 13.0167 45.2857 13.0167 43.6644C13.0167 42.8862 12.9518 42.1728 12.8314 41.5335C12.711 40.885 12.5442 40.394 12.3311 40.0605C12.081 39.6528 11.766 39.3563 11.3954 39.171C11.0155 38.9857 10.5523 38.8931 9.99641 38.8931H7.29111ZM7.29111 49.1491V59.4793H10.8024C11.5066 59.4793 12.0439 59.155 12.396 58.5065C12.6461 58.0618 12.8314 57.4781 12.9426 56.7462C13.063 56.0143 13.1093 55.2083 13.0816 54.3281C13.0445 52.4659 12.8036 51.141 12.3867 50.3443C11.9698 49.5475 11.2842 49.1491 10.3577 49.1491H7.29111Z" fill="white"/>
				<path d="M19.5761 40.4312H28.2016C28.9428 40.4312 29.6654 40.5609 30.3603 40.8481C31.0551 41.1353 31.6017 41.5059 32.0094 41.9691C32.4263 42.4323 32.7413 42.9975 32.9636 43.6645C33.186 44.3316 33.2972 45.0357 33.2972 45.7676C33.2879 46.5459 33.1675 47.25 32.9173 47.88C32.6672 48.51 32.2966 49.0381 31.8056 49.4735C31.3145 49.909 30.7123 50.2517 29.9897 50.4834C29.267 50.7242 28.5351 50.854 27.6457 50.891V50.9466C28.9242 52.0862 31.0458 52.1417 31.0458 52.1417L33.1304 57.8117L35.2798 59.8407V60.1928L30.0731 60.1557L27.025 50.9188L24.8014 50.9281L24.7551 57.8859L26.6451 59.8129V60.165L19.5576 60.1742V59.8222L21.4847 57.8859L21.4476 42.701L19.5761 40.8388V40.4312ZM24.7366 41.1167L24.7922 50.2425L27.2566 50.2332C27.8773 50.2332 28.3961 50.0665 28.8038 49.7329C29.2114 49.3994 29.5264 48.8991 29.7303 48.2135C29.9341 47.5372 30.0453 46.6848 30.0545 45.6657C30.0823 42.6084 29.1281 41.0797 27.2103 41.0889L24.7366 41.1167Z" fill="white"/>
				<path d="M66.7153 44.5818L78.5464 44.6003L78.8984 49.8812L78.6483 49.8719C78.6483 49.8719 76.2209 46.129 76.1005 45.953C75.9244 45.7028 75.489 45.4249 75.1092 45.4063C74.6737 45.3786 71.9684 45.2859 71.9684 45.2859V51.8268H73.2377C73.6175 51.8083 73.9696 51.7712 74.3031 51.2153C74.6367 50.6687 75.665 48.9918 75.665 48.9918H75.9337V54.8471H75.6743C75.6743 54.8471 74.7664 53.2906 74.405 52.883C74.1456 52.5958 73.8121 52.3827 73.2562 52.3734H71.9592V59.5443L75.665 59.359C76.0171 59.3219 76.6471 59.183 76.9158 58.6734C77.1381 58.2565 79.1115 54.4024 79.1115 54.4024H79.408V60.1558H66.7153V59.8778L68.7443 58.4603V46.3977L66.7153 44.8505V44.5818Z" fill="white"/>
				<path d="M123.082 52.7348L123.675 52.846C123.536 54.421 121.396 60.7673 115.429 60.6376C109.444 60.5079 105.581 54.9305 105.831 49.4365C105.97 46.444 106.729 43.8036 108.758 41.4596C110.574 39.3473 112.705 38.3189 115.16 38.3559C115.957 38.3652 116.671 38.5042 117.319 38.7636C117.958 39.023 118.746 39.4584 119.478 40.0699C119.969 40.5054 120.339 40.6999 120.599 40.7277C121.729 40.8296 122.906 38.5134 122.906 38.5134L123.295 38.5227L123.619 46.5552L123.156 46.5182C122.535 44.8505 118.792 38.9118 115.614 39.2176C112.659 39.5048 110.584 44.6745 110.5 49.7237C110.426 54.2542 112.029 58.6364 115.494 59.5814C118.19 60.3133 122.313 57.117 123.082 52.7348Z" fill="white"/>
				<path d="M125.203 41.9321H133.792V42.2749L131.42 43.9982L131.253 59.4146C131.253 59.4146 133.05 59.2201 133.755 59.183C134.561 59.146 135.154 58.8032 135.422 58.3863C135.709 57.9415 138.1 53.1702 138.1 53.1702H138.572L138.785 60.1836H124.573L124.601 59.813L127.149 58.1083L127.316 43.9982L125.203 42.2657V41.9321Z" fill="white"/>
				<path d="M171.49 55.681L171.972 55.7829C171.675 56.626 169.507 60.1002 164.458 60.2392C160.233 60.3596 155.48 58.2102 155.48 54.2079C155.48 50.9282 159.149 48.0283 163.893 48.0283C164.606 48.0283 165.255 48.0932 165.848 48.2321C166.431 48.3711 167.061 48.6027 167.728 48.927C168.173 49.1586 168.516 49.2513 168.748 49.2791C169.767 49.3902 171.129 48.0469 171.129 48.0469H171.406L171.638 52.4476H171.342C169.47 50.1314 166.793 48.5749 164.338 48.8066C161.586 49.066 160.215 51.6508 160.215 54.2264C160.215 57.1263 162.392 59.322 165.069 59.322C169.415 59.3127 171.268 56.1813 171.49 55.681Z" fill="white"/>
				<path d="M172.416 44.2112H179.772V44.5632L177.817 46.0178L177.891 52.2807L183.636 45.9159L181.671 44.5632V44.2112H187.286V44.5632L184.432 46.1104L181.486 49.3253L186.665 58.3399L188.954 59.9056V60.1928H181.217V59.9056L182.413 58.6178L178.929 52.1974L177.864 53.3832L177.854 58.3306L179.819 59.9056V60.1928H172.435V59.9056L174.445 58.3306V46.0085L172.435 44.554V44.2112H172.416Z" fill="white"/>
				<path d="M96.4732 41.3577V41.0427H92.9434V41.3855L94.4535 45.1285V52.8923L86.6156 41.0427H81.8906V41.404L83.725 43.9611V55.0417L81.4922 59.7482V60.2114H86.7175V59.7852L84.4198 55.0417V44.7393L94.5276 60.2114H95.102V45.1285L96.4732 41.3577Z" fill="white"/>
				<path d="M47.111 76.4522C47.1295 76.4522 47.1388 76.4615 47.1388 76.4893V77.1656C47.1388 77.1841 47.1295 77.1934 47.111 77.1934H42.2656C42.247 77.1934 42.2285 77.1841 42.2285 77.1656V69.374C42.2285 69.3554 42.2378 69.3369 42.2656 69.3369H42.9975C43.016 69.3369 43.0345 69.3462 43.0345 69.374V76.443L47.111 76.4522Z" fill="white"/>
				<path d="M49.103 77.1656V69.374C49.103 69.3554 49.1123 69.3369 49.1401 69.3369H49.8905C49.9183 69.3369 49.9276 69.3462 49.9276 69.374V77.1656C49.9276 77.1841 49.9183 77.1934 49.8905 77.1934H49.1401C49.1123 77.1934 49.103 77.1841 49.103 77.1656Z" fill="white"/>
				<path d="M52.6699 77.1656V69.374C52.6699 69.3554 52.6792 69.3369 52.707 69.3369H53.5686C53.5779 69.3369 53.5964 69.3462 53.5964 69.3462L58.099 75.9149V69.374C58.099 69.3554 58.1083 69.3369 58.1361 69.3369H58.7939C58.8124 69.3369 58.831 69.3462 58.831 69.374V77.1656C58.831 77.1841 58.8217 77.1934 58.7939 77.1934H58.0898L58.062 77.1841L53.4018 70.3653V77.1656C53.4018 77.1841 53.3926 77.1934 53.374 77.1934H52.7162C52.6792 77.1934 52.6699 77.1841 52.6699 77.1656Z" fill="white"/>
				<path d="M60.9434 73.3949C60.9434 70.8471 62.5739 69.1794 64.64 69.1794C66.3262 69.1794 67.197 70.0596 67.5584 71.2733C67.5584 71.2825 67.5491 71.2918 67.5398 71.3103L66.8635 71.5975C66.845 71.6068 66.8265 71.5975 66.8172 71.5605C66.5022 70.5599 66.0297 69.9206 64.6863 69.9206C62.6388 69.9206 61.7679 71.5419 61.7679 73.2559C61.7679 75.2108 62.6481 76.5634 64.7326 76.5634C66.3447 76.5634 66.9098 75.5443 66.9098 74.6271V73.6543C66.9098 73.6358 66.9191 73.6172 66.9469 73.6172H67.6788C67.7066 73.6172 67.7159 73.6265 67.7159 73.6543V77.1564C67.7159 77.1749 67.7066 77.1842 67.6788 77.1842H66.984C66.9562 77.1842 66.9469 77.1749 66.9469 77.1564V76.3689C66.4373 76.934 65.9556 77.3139 64.6214 77.3139C62.4257 77.3231 60.9434 75.7389 60.9434 73.3949Z" fill="white"/>
				<path d="M74.9329 76.4522C74.9607 76.4522 74.9699 76.4615 74.9699 76.4893V77.1656C74.9699 77.1841 74.9607 77.1934 74.9329 77.1934H70.143C70.1152 77.1934 70.106 77.1841 70.106 77.1656V69.374C70.106 69.3554 70.1152 69.3369 70.143 69.3369H74.6457C74.6735 69.3369 74.6827 69.3462 74.6827 69.374V70.041C74.6827 70.0596 74.6735 70.0781 74.6457 70.0781L70.912 70.0966V72.9502L73.4783 72.9687C73.5061 72.9687 73.5154 72.978 73.5154 73.0057V73.6265C73.5154 73.645 73.5061 73.6635 73.4783 73.6635L70.912 73.6728V76.4522H74.9329Z" fill="white"/>
				<path d="M77.8422 77.1656C77.8422 77.1841 77.8329 77.1934 77.8051 77.1934H77.0825C77.0639 77.1934 77.0454 77.1841 77.0454 77.1656V69.374C77.0454 69.3554 77.0547 69.3369 77.0825 69.3369H79.8156C80.8625 69.3369 81.9742 69.9484 81.9742 71.6809C81.9742 72.7371 81.3628 73.3856 80.5938 73.6913C80.742 73.96 81.6036 75.4887 82.0854 76.4059C82.2522 76.7302 82.3911 76.9988 82.5116 77.1378C82.5486 77.1656 82.5208 77.1934 82.4838 77.1934H81.6036C81.5944 77.1934 81.5851 77.1841 81.5666 77.1749L79.8433 73.8859L77.8422 73.8766V77.1656ZM79.6951 70.0503H77.8329V73.1632H79.621C80.7884 73.1632 81.2145 72.385 81.2145 71.6438C81.2145 70.81 80.8161 70.0503 79.6951 70.0503Z" fill="white"/>
				<path d="M84.4756 77.1656V69.374C84.4756 69.3554 84.4849 69.3369 84.5126 69.3369H85.2724C85.2909 69.3369 85.3094 69.3462 85.3094 69.374V77.1656C85.3094 77.1841 85.3001 77.1934 85.2724 77.1934H84.5126C84.4941 77.1934 84.4756 77.1841 84.4756 77.1656Z" fill="white"/>
				<path d="M88.0425 77.1656V69.374C88.0425 69.3554 88.0517 69.3369 88.0795 69.3369H88.9412C88.9504 69.3369 88.969 69.3462 88.969 69.3462L93.4716 75.9149V69.374C93.4716 69.3554 93.4809 69.3369 93.5087 69.3369H94.1665C94.185 69.3369 94.2035 69.3462 94.2035 69.374V77.1656C94.2035 77.1841 94.1942 77.1934 94.1665 77.1934H93.4531L93.4253 77.1841L88.7651 70.3653V77.1656C88.7651 77.1841 88.7559 77.1934 88.7281 77.1934H88.0703C88.0517 77.1934 88.0425 77.1841 88.0425 77.1656Z" fill="white"/>
				<path d="M96.3252 73.3949C96.3252 70.8471 97.9558 69.1794 100.022 69.1794C101.717 69.1794 102.579 70.0596 102.949 71.2733C102.949 71.2825 102.94 71.2918 102.922 71.3103L102.245 71.5975C102.227 71.6068 102.218 71.5975 102.199 71.5605C101.893 70.5599 101.412 69.9206 100.068 69.9206C98.0299 69.9206 97.1498 71.5419 97.1498 73.2559C97.1498 75.2108 98.0299 76.5634 100.114 76.5634C101.727 76.5634 102.292 75.5443 102.292 74.6271V73.6543C102.292 73.6358 102.31 73.6172 102.329 73.6172H103.061C103.088 73.6172 103.098 73.6265 103.098 73.6543V77.1564C103.098 77.1749 103.088 77.1842 103.061 77.1842H102.357C102.338 77.1842 102.319 77.1749 102.319 77.1564V76.3689C101.81 76.934 101.328 77.3139 99.994 77.3139C97.7983 77.3231 96.3252 75.7389 96.3252 73.3949Z" fill="white"/>
				<path d="M112.103 77.1656L109.194 69.374C109.185 69.3554 109.203 69.3276 109.231 69.3276H110.009C110.018 69.3276 110.037 69.3369 110.037 69.3462L112.557 76.1928L114.975 69.3462C114.975 69.3369 115.003 69.3276 115.012 69.3276H115.744C115.781 69.3276 115.79 69.3462 115.781 69.374L112.955 77.1656C112.946 77.1748 112.937 77.1841 112.927 77.1841H112.14C112.121 77.1841 112.112 77.1748 112.103 77.1656Z" fill="white"/>
				<path d="M116.605 73.2837C116.605 70.7359 118.375 69.1702 120.524 69.1702C122.739 69.1702 124.379 70.986 124.379 73.2837C124.379 75.5999 122.766 77.3324 120.524 77.3324C118.069 77.3324 116.605 75.3405 116.605 73.2837ZM117.43 73.2837C117.43 75.1366 118.644 76.6005 120.534 76.6005C122.47 76.6005 123.563 75.2108 123.563 73.2837C123.563 71.3196 122.229 69.9206 120.534 69.9206C118.57 69.9206 117.43 71.1991 117.43 73.2837Z" fill="white"/>
				<path d="M129.289 77.1841H126.436C126.417 77.1841 126.398 77.1748 126.398 77.1563V69.3647C126.398 69.3462 126.408 69.3276 126.436 69.3276H129.039C129.743 69.3276 130.493 69.4759 131.114 69.8835C131.994 70.4672 132.624 71.5604 132.624 73.3485C132.624 75.9519 130.947 77.1841 129.289 77.1841ZM130.716 70.5413C130.28 70.2263 129.687 70.0595 128.965 70.0595H127.204V76.4522H129.308C130.753 76.4522 131.809 75.3868 131.809 73.2651C131.809 72.0607 131.494 71.1065 130.716 70.5413Z" fill="white"/>
				<path d="M134.644 77.1563V69.3647C134.644 69.3462 134.653 69.3276 134.681 69.3276H135.413C135.441 69.3276 135.45 69.3369 135.45 69.3647V73.2744L138.526 69.3369L138.554 69.3276H139.378C139.406 69.3276 139.425 69.3462 139.397 69.3832L136.367 73.2281L139.786 77.1285C139.823 77.1563 139.795 77.1841 139.767 77.1841H138.795L138.767 77.1748L135.459 73.4041V77.147C135.459 77.1656 135.45 77.1748 135.422 77.1748H134.69C134.663 77.1841 134.644 77.1748 134.644 77.1563Z" fill="white"/>
				<path d="M141.444 77.1656C141.444 77.1748 141.416 77.1841 141.407 77.1841H140.694C140.657 77.1841 140.647 77.1656 140.657 77.1378L143.872 69.3462C143.881 69.3369 143.89 69.3276 143.899 69.3276H144.483C144.492 69.3276 144.502 69.3369 144.52 69.3462L147.605 77.1378C147.614 77.1563 147.596 77.1841 147.577 77.1841H146.836C146.827 77.1841 146.799 77.1748 146.799 77.1656L145.724 74.3954H142.565L141.444 77.1656ZM144.168 70.4301L142.843 73.7006H145.437L144.168 70.4301Z" fill="white"/>
				</g>
				<defs>
				<clipPath id="clip0_2285_16438">
				<rect width="189" height="77.8236" fill="white"/>
				</clipPath>
				</defs>
			</svg>			
		.permission__body
			<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M30.0085 59.8377L0 29.9189L29.9915 0L60 29.9189L30.0085 59.8377ZM2.77417 29.9189L30.0085 57.0718L57.2427 29.9189L30.0085 2.76589L2.77417 29.9189Z" fill="white"/>
				<path d="M45.3341 27.1193L46.8058 24.9775C43.5749 22.7681 36.4196 21.2502 29.4503 21.2502C29.4165 21.2502 29.3826 21.2502 29.3657 21.2502V23.8475C29.3996 23.8475 29.4165 23.8475 29.4503 23.8475C35.8444 23.8306 42.5261 25.2136 45.3341 27.1193Z" fill="white"/>
				<path d="M28.1804 26.6813V16.4441C30.058 16.8826 31.5297 18.4173 31.9695 20.3568C32.866 20.4074 33.7626 20.4749 34.6591 20.5592C34.1855 16.7139 30.9715 13.7119 27.0978 13.7119H25.5923V29.3797H27.0978C30.1088 29.3797 32.7138 27.5751 33.9486 24.9779C32.9844 24.8767 32.0203 24.8261 31.0561 24.7924C30.3118 25.7368 29.3137 26.4283 28.1804 26.6813Z" fill="white"/>
				<path d="M27.1334 26.6138H25.5771V34.4392C26.3891 34.5235 27.2687 34.5741 28.1822 34.6079V29.3122C31.3454 29.8856 33.9335 32.972 33.9335 36.463C33.9335 39.7012 31.5146 42.2141 28.1822 42.6526V39.094C27.2856 39.0772 26.4229 39.0266 25.5771 38.9422V45.3173H27.1334C32.4957 45.3173 36.5216 41.5057 36.5216 36.463C36.5385 31.1168 32.225 26.6138 27.1334 26.6138Z" fill="white"/>
				<path d="M29.4497 35.5694C19.9938 35.5694 14.3609 32.5843 14.3609 29.7003C14.3609 27.3898 17.9978 25.0118 24.3242 24.1686V21.5544C16.7291 22.4989 11.7559 25.5852 11.7559 29.7003C11.7559 34.6756 19.0296 38.1667 29.4328 38.1667C30.5154 38.1667 31.6149 38.1329 32.6806 38.0486C32.8497 37.5426 32.9681 37.0198 32.9681 36.4464C32.9681 36.1091 32.9174 35.7718 32.8667 35.4345C31.7502 35.5188 30.5999 35.5694 29.4497 35.5694ZM46.8559 34.3889L45.3843 32.2638C43.7604 33.377 40.8001 34.3214 37.3493 34.9117C37.417 35.4176 37.4846 35.9405 37.4846 36.4633C37.4846 36.8174 37.4677 37.1716 37.417 37.5258C41.426 36.8512 44.8768 35.7549 46.8559 34.3889Z" fill="white"/>
			</svg>
			h2 Are you of legal drinking age for your country?
			.wrapper 
				a(href="#" permission-no) NO
				a(href="#" permission-yes) YES
			p By entering our website you are agreeing to our terms&conditions, privacy and cookies policy. This site is for personal use by persons who are lawfully permitted to purchase and consume alcoholic beverages in their country of access. Please enjoy Broken Clock responsibly.
	.animation-wrap
		section.promo
			.promo__bg
				img(src="img/index/promo_bg.jpeg", alt="bg")
			.container
				.promo__body 
					h2
						span Awfully 
						span English vodka
					.promo__descr Broken Clock comes from the abundant English country garden at Shandy Hall in North Yorkshire – a place which was once the home to England’s Most Eccentric author, Laurence Sterne – and where time seems to stand still. 
					a(href="awfully.html").btn.white  Discover 
		section.main-coctails
			.container 
				h1(data-aos="fade-down" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200")
					span Lingering
					span Cocktails
				.main-coctails__descr(data-aos="fade-down" data-aos-duration="1000" data-aos-once="true") It is an indubitably apt vodka to pour for the most awfully English of tipples, from a Bloody Mary at brunch or afternoon drinks on the terrace to a Broken Clock martini by moonlight in your own English country garden.
				.main-coctails__wrapper
					.swiper.main-coctails__slider 
						.swiper-wrapper 
							.swiper-slide 
								a(href="cocktail-page.html").main-coctails__item
									.main-coctails__img 
										img(src="img/index/item1.jpg", alt="" loading="lazy")
									.main-coctails__title Brut O’Clock
							.swiper-slide 
								a(href="cocktail-page.html").main-coctails__item
									.main-coctails__img 
										img(src="img/index/item2.jpg", alt="" loading="lazy")
									.main-coctails__title Broken Martini
							.swiper-slide 
								a(href="cocktail-page.html").main-coctails__item
									.main-coctails__img 
										img(src="img/index/item3.jpg", alt="" loading="lazy")
									.main-coctails__title Fig sour
							.swiper-slide 
								a(href="cocktail-page.html").main-coctails__item
									.main-coctails__img 
										img(src="img/index/item1.jpg", alt="" loading="lazy")
									.main-coctails__title Brut O’Clock
							.swiper-slide 
								a(href="cocktail-page.html").main-coctails__item
									.main-coctails__img 
										img(src="img/index/item2.jpg", alt="" loading="lazy")
									.main-coctails__title Brut O’Clock
							.swiper-slide 
								a(href="cocktail-page.html").main-coctails__item
									.main-coctails__img 
										img(src="img/index/item3.jpg", alt="" loading="lazy")
									.main-coctails__title Brut O’Clock
							.swiper-slide 
								a(href="cocktail-page.html").main-coctails__item
									.main-coctails__img 
										img(src="img/index/item2.jpg", alt="" loading="lazy")
									.main-coctails__title Brut O’Clock
					.swiper-button-next.main-coctails__next
						<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.70594 13.5881L8.5 6.79406L1.70594 0L0.5 1.20594L6.08811 6.79406L0.5 12.3822L1.70594 13.5881Z" fill="#231F20"/>
						</svg>
					.swiper-button-prev.main-coctails__prev
						<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.79406 13.5881L0 6.79406L6.79406 0L8 1.20594L2.41189 6.79406L8 12.3822L6.79406 13.5881Z" fill="#231F20"/>
						</svg>
					.swiper-pagination.main-coctails__pagination
				.link-wrap(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
					a(href="cocktails-list.html").btn.gold Discover all cocktails
		section.quote
			.container 
				.quote__wrapper
					.swiper.quote__slider 
						.swiper-wrapper 
							.swiper-slide 
								.quote__text 
									.quote__icon(data-aos-duration="1000" data-aos="fade-right" data-aos-delay="100" data-aos-once="true")
										img(src="img/icons/quotes.svg", alt="")
									.quote__main(data-aos-duration="1000" data-aos="fade-right" data-aos-delay="200" data-aos-once="true") ‘‘It brings out the essence of the countryside on an English day, freshly cut lawns, elderflower and hedgerows.’’
									.quote__author(data-aos-duration="1000" data-aos="fade-right" data-aos-delay="300" data-aos-once="true") Tom Kerridge
								.quote__img(data-aos-duration="1000" data-aos="fade-left" data-aos-delay="400" data-aos-once="true") 
									img(src="img/index/quote-1.png", alt="" loading="lazy")
							.swiper-slide 
								.quote__text 
									.quote__icon
										img(src="img/icons/quotes.svg", alt="")
									.quote__main ‘‘What I love about Broken Clock is the flavourful characteristic of the liquid,<br> it works wonderfully in<br>a martini and spirit<br>driven drinks’’
									.quote__author Joe Schofield,<br><span>SCHOFIELD’S BAR</span>
								.quote__img
									img(src="img/index/quote-2.png", alt="" loading="lazy")
							.swiper-slide 
								.quote__text 
									.quote__icon
										img(src="img/icons/quotes.svg", alt="")
									.quote__main ‘‘Brilliant distillation gives a sense of sweetness and softness to the spirit ~ hints of orchard fruitiness, alongside berry, citrus and floral elements.’’
									.quote__author Rob Whitehead,<br><span>Spirits Buyer BERRY BROS & RUDD</span>
								.quote__img
									img(src="img/index/quote-3.png", alt="" loading="lazy")
					.swiper-pagination.quote__pagination
					.swiper-button-next.quote__next
						<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.70594 13.5881L8.5 6.79406L1.70594 0L0.5 1.20594L6.08811 6.79406L0.5 12.3822L1.70594 13.5881Z" fill="#231F20"/>
						</svg>
					.swiper-button-prev.quote__prev
						<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.79406 13.5881L0 6.79406L6.79406 0L8 1.20594L2.41189 6.79406L8 12.3822L6.79406 13.5881Z" fill="#231F20"/>
						</svg>
		section.brunch 
			.container 
				h2(data-aos="fade-down" data-aos-duration="1000" data-aos-once="true")
					span SUNDAY
					span Brunch
				.brunch__descr(data-aos="fade-down" data-aos-duration="1000" data-aos-once="true") It is an indubitably apt vodka to pour for the most awfully English of tipples, from a Bloody Mary at brunch or afternoon drinks on the terrace to a Broken Clock martini by moonlight in your own English country garden.
				ul 
					li 
						.brunch__bg
							img(src="img/index/brunch_bg.png", alt="" loading="lazy")
						.wrapper
							h3(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true").brunch__title The 12 O’Clock<br> from Gravetye Manor 
							.link-wrap(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
								a(href="brunch-item.html").btn.white DISCOVER
					li 
						.brunch__bg 
							img(src="img/index/brunch_bg.png", alt="" loading="lazy")
						.wrapper
							h3(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true").brunch__title The 12 O’Clock<br> from Gravetye Manor 
							.link-wrap(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
								a(href="brunch-item.html").btn.white DISCOVER
					li 
						.brunch__bg 
							img(src="img/index/brunch_bg.png", alt="" loading="lazy")
						.wrapper
							h3(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true").brunch__title The 12 O’Clock<br> from Gravetye Manor 
							.link-wrap(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
								a(href="brunch-item.html").btn.white DISCOVER
				.link-wrap(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
					a(href="brunch-list.html" ).btn.gold Discover all food pairings
		section.awards 
			.container 
				.awards__body 
					.awards__left(data-aos="fade-right" data-aos-duration="1000" data-aos-once="true")
						.awards__circle 
							h3 What’s<br> the latest about Broken Clock Vodka
							a(href="bulletin.html") Open bulletin
					.awards__right
						img(src="img/icons/second-logo.svg", alt="" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true").awards__logo
						span(data-aos="fade-left" data-aos-duration="1000" data-aos-once="true") Broken Clock can be procured at Britain’s most Respected establishments and eateries and was voted Best Tasting Vodka by some of the nation’s most Discerning drink experts.
						.awards__medals
							img(src="img/index/medals.png", alt="" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" loading="lazy").awards__medal
						.awards__tickets
							img(src="img/index/rate.png", alt="" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" loading="lazy").awards__rate